*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 4rem;
}

.container{
    background: rgba(219, 226, 239, 0.5);
    padding: 1rem;
    border-radius: 4px;
    color: #fdfbfb;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.box{
    font-size: 55px;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1,.box2,.box4,.box5{
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.box3,.box6{
    border-bottom: 2px solid white;
}

.box7,.box8{
    border-right: 2px solid white;
}

#btn{
    all: unset;
    background: rgba(219, 226, 239, 0.5);
    padding: 1rem;
    border-radius: 4px;
    color: #fdfbfb;
    display: none;
}

#btn.active{
    display: block;
}

#currentplayer{
    background: rgba(219, 226, 239, 0.5);
    padding: 1rem;
    border-radius: 4px;
    color: #fdfbfb;
}

.win{
    background-color: rgba(0,225,0,0.3);
}